body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px;
  padding: 0;
  background: rgb(252, 70, 107);
  background: linear-gradient(
    90deg,
    rgb(252, 70, 107, 1) 0%,
    rgba(160, 83, 183, 1) 15%,
    rgba(88, 110, 232, 1) 30%,
    rgba(11, 18, 50, 1) 50%,
    rgba(88, 110, 232, 1) 70%,
    rgba(160, 83, 183, 1) 85%,
    rgb(252, 70, 107, 1) 100%
  );
}

.navbar {
  background-color: #181f27;
}

.navbar-brand {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

@keyframes blink {
  0% {
    color: rgba(88, 110, 232);
  }
  20% {
    color: rgba(160, 83, 183);
  }
  40% {
    color: rgb(189, 69, 129);
  }
  80% {
    color: rgba(160, 83, 183);
  }
  100% {
    color: rgba(88, 110, 232);
  }
}

.navbar-brand {
  animation: blink 3s infinite;
}

.btn-outline-primary {
  color: rgba(88, 110, 232);
  border-color: rgba(160, 83, 183);
  background-color: rgba(33, 37, 41);
  font-weight: bold;
}

.btn-outline-primary:hover {
  color: #fff;
  font-weight: bold;
  background-color: rgb(252, 70, 107);
  border-color: rgba(160, 83, 183);
}

.table {
  margin-top: 90px;
}

.table-header-fixed th {
  position: sticky;
  top: 0;
  background-color: rgba(33, 37, 41);
  color: #fff;
  font-weight: bold;
}

td:first-child {
  color: rgba(88, 110, 232, 1);
}

.crypto-container .positive {
  color: #04aa6d;
}

.crypto-container .negative {
  color: #ff4733;
}

#expandBtn{
  border-width: 2px;
}

a {
  color: rgba(88, 110, 232, 1);
}

a:visited {
  color: rgba(189, 69, 129);
}

a:active {
  color: rgba(189, 69, 129);
}

.hidden-row {
  display: none;
}

@media screen and (max-width: 575px) {
  body {
    margin: 20px;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
  .btn-outline-primary {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  body {
    margin: 25px;
  }
  .navbar-brand {
    font-size: 1.6rem;
  }
  .btn-outline-primary {
    padding: 6px 12px;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    margin: 30px;
  }
  .navbar-brand {
    font-size: 1.7rem;
  }
  .btn-outline-primary {
    padding: 7px 14px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    margin: 35px;
  }
  .navbar-brand {
    font-size: 1.8rem;
  }
  .btn-outline-primary {
    padding: 8px 16px;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    margin: 40px;
  }
  .navbar-brand {
    font-size: 1.9rem;
  }
  .btn-outline-primary {
    padding: 9px 18px;
    font-size: 1.2rem;
  }
}
